#gallery {
    width: 100%;

}

figure {
    width: 33.33%;

}
@media (max-width: 490px) {
    figure {
        color: yellow;
        width: 33.3%;
    }

@media (max-width: 992px) {
    figure {
        color: blue;
        width: 50%;
    }
}


@media (max-width: 768px) {
    figure {
        width: 100%;
        color: red;
    }
}


    figcaption {
        
    }
}
